body{
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #e0f7fa, #ffffff);
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #0288d1;
    color: white;
    padding: 30px;
    text-align: center;
}

h1{
    margin-left: 20px;
}

p{
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    background-color: #01579b;
    padding: 10px;
    text-align: center;
}


nav {
    background-color: #01579b;
    padding: 10px;
    text-align: center;
    position: fixed; 
    top: 20px;       
    right: 20px;      
    z-index: 1000; 
    border-radius: 10px;  
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
      height: 100vh; /* só pra gerar rolagem */
      padding: 20px;
}

img{
    height: 20%;
    width: 20%;
    border-radius: 20px;
    filter: drop-shadow(4px 4px 4px black);
}

html {
  scroll-behavior: smooth;
}
